.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2.5px;
  background-color: #32312f;
  transition: all 150ms ease-in-out;
  display: block;
  transform: translateY(6px);
}

.menu-btn-burger {
  width: 90%;
  height: 2.5px;
}

.menu-btn-burger::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2.5px;
  background-color: #32312f;
  transform: translateY(-6px);
  display: block;
  transition: all 150ms ease-in-out;
}

.menu-burger-opened.menu-btn-burger::before {
  transform: rotate(45deg);
}

.menu-burger-opened.menu-btn-burger::after {
  transform: rotate(-45deg);
}
